* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  position: relative;
  z-index: -10;
  background-color: #023a5c;
  min-width: 320px;
  font-weight: 400;
}

body section {
  width: 100%;
  height: auto;
  min-height: 90vh;
}

body section header {
  width: 100%;
  position: relative;
  height: 78px;
  background-color: #023a5c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

body section header .div {
  width: 25%;
}

body section header .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  height: 100%;
  width: 1000px;
}

body section header .center .logo {
  z-index: 0;
}

body section header .center .logo .img {
  width: 270px;
  padding-right: 20px;
}

body section header .center .navigation {
  width: 750px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  overflow-x: hidden;
}

body section header .center .navigation ul {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

body section header .center .navigation ul .link {
  list-style: none;
  padding-left: 14px;
}

body section header .center .navigation ul .link a {
  text-decoration: none;
  color: #fff !important;
  font-size: 20px;
  font-weight: 100;
}

body section header .search-bar {
  width: 25%;
  position: absolute;
  right: 25px;
  top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  color: #fff;
}

body section header .search-bar input {
  height: 30px;
  width: 70%;
  display: none;
}

body section header .search-bar i {
  font-size: 30px;
}

@media only screen and (max-width: 1650px) {
  body section header .div {
    display: none;
  }
  body section header .center .logo .img {
    width: 250px;
  }
}

@media only screen and (max-width: 1650px) and (max-width: 1200px) {
  body section header .search-bar {
    display: none;
  }
}

@media only screen and (max-width: 1650px) and (max-width: 1200px) and (max-width: 770px) {
  body section header .center .logo .img {
    width: 170px;
  }
  body section header .navigation ul .link {
    margin: 8px !important;
  }
  body section header .navigation ul .link a {
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 1650px) and (max-width: 1200px) and (max-width: 770px) and (max-width: 500px) {
  body section header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body section header .center .img {
    height: 200%;
  }
  body section header .navigation {
    display: none !important;
  }
}

body section #menu {
  -webkit-transition: left 2s;
  transition: left 2s;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 210px;
  background-color: #fff;
  z-index: 1;
  padding: 165px 0 20px 0;
}

body section #menu .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 30px;
  width: 80%;
  padding: 0 10px 0 40px;
  height: 100vh;
}

body section #menu .menu-list .menu {
  font-size: 20px;
  font-weight: 200;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 2px dotted #023a5c;
}

body section #menu .menu-list .menu li {
  margin: 9px 0 7px;
  list-style: none;
}

body section #menu .menu-list .menu li a {
  color: #023a5c;
  text-decoration: none !important;
}

body section #menu .menu-list i {
  color: #023a5c;
  margin-bottom: 10px;
}

@media only screen and (max-width: 770px) {
  body section #menu {
    width: auto;
  }
  body section #menu .menu-list {
    width: auto;
    padding-left: 30px !important;
  }
}

@media only screen and (max-width: 770px) and (max-width: 500px) {
  body section #menu {
    width: auto;
  }
  body section #menu .menu-list {
    width: auto !important;
    padding-left: 10px !important;
  }
  body section #menu .menu-list .menu {
    font-size: 10px !important;
  }
}

body section #menu .hidden-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: -1;
  padding: 0 30px 0 10px;
  background-color: #fff;
  height: 100%;
}

body section #menu .hidden-menu i {
  position: absolute;
  top: 50%;
  right: 10px;
  color: grey;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 770px) {
  body section #menu {
    padding-top: 170px;
  }
}

body section #main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 90%;
  padding-left: 10px;
  z-index: 0;
}

body section #main #slider {
  width: 100vw;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  right: 0;
  z-index: -5;
}

body section #main .text {
  position: absolute;
  top: 50%;
  left: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

body section #main .text h1 {
  font-size: 40px;
  line-height: 70px;
  letter-spacing: 3px;
}

body section #main .text p {
  padding-top: px;
  text-align: right;
}

body section #main .text p a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
}

body section #main form {
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1000px;
}

body section #main form .newsletter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body section #main form .newsletter .control {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 7px;
  width: 85%;
}

body section #main form .newsletter .control * {
  margin: 5px;
}

body section #main form .newsletter .control img {
  height: 46px;
  width: 54px;
  margin-right: 0;
}

body section #main form .newsletter .control label {
  background-color: #fff;
  font-size: 20px;
  margin-right: 0;
}

body section #main form .newsletter .control input {
  width: 42%;
  height: 30px;
  font-size: 15px;
}

body section #main form .newsletter .button {
  padding-top: 8px;
  height: 55px;
  font-size: 20px;
  width: 14%;
  background-color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 500px) {
  body section #main {
    width: 115%;
  }
  body section #main #slider {
    width: 100%;
    right: 30px;
  }
}

body section .container {
  width: 1000px;
  padding: 40px 0;
}

@media only screen and (max-width: 770px) {
  body section .container {
    width: 500px;
  }
}

body section .container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-bottom: 45px;
  overflow: hidden;
  font-size: 29px;
  line-height: 75px;
  text-transform: uppercase;
  font-weight: 400;
  vertical-align: top;
}

body section .container .title img {
  margin-right: 18px;
  height: 75px;
}

body section .container .title h2 {
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 27px;
  line-height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section .container hr {
  border-width: 0 0 2px 0;
  margin-bottom: 49px;
}

body section .blue {
  color: #fff;
}

body section .blue hr {
  border-bottom: dotted #fff;
}

body section .blue .branze-list {
  position: relative;
  overflow: hidden;
  margin: 0 -9px;
  width: 1018px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body section .blue .branze-list .branch {
  float: left;
  position: relative;
  overflow: hidden;
  margin: 0 12px 23px;
  width: 315px;
  height: 150px;
  background: #fff;
}

body section .blue .branze-list .branch img {
  width: 315px;
  height: 150px;
  overflow: clip;
}

body section .blue .branze-list .branch .dark-bgc {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
}

body section .blue .branze-list .branch .dark-bgc:hover {
  background: rgba(0, 0, 0, 0);
}

body section .blue .branze-list .branch .dark-bgc:hover h3.last-row {
  color: #023a5c;
}

body section .blue .branze-list .branch .dark-bgc h3 {
  position: absolute;
  top: 68px;
  width: 100%;
  font-weight: normal;
  font-size: 19px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

body section .blue .branze-list .desc {
  position: relative;
  top: -7px;
  left: -4px;
  margin: 0 12px 60px;
  width: 315px;
  font-size: 15px;
  color: #fff;
  font-weight: 400;
}

body section .blue .branze-list .desc p {
  word-spacing: 1.8px;
  text-align: justify;
  padding-bottom: 21px;
}

@media only screen and (max-width: 770px) {
  body section .blue .branze-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (200px)[3];
        grid-template-columns: repeat(3, 200px);
    width: auto;
    gap: 3px;
  }
  body section .blue .branze-list .branch {
    width: 160px;
    height: 90px;
    margin: 0;
  }
  body section .blue .branze-list .branch img {
    width: 160px;
    height: 90px;
  }
  body section .blue .branze-list .branch .dark-bgc h3 {
    font-size: 15px;
  }
  body section .blue .branze-list .desc {
    display: none;
  }
}

@media only screen and (max-width: 770px) and (max-width: 500px) {
  body section .blue .branze-list {
    justify-items: center;
    -ms-grid-columns: (130px)[3];
        grid-template-columns: repeat(3, 130px);
  }
  body section .blue .branze-list .branch {
    width: 100px;
    height: 150px;
  }
  body section .blue .branze-list .branch img {
    width: 100px;
    height: 150px;
  }
}

body section .blue .icons {
  position: relative;
  height: 350px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 15px 0;
}

body section .blue .icons .first-column,
body section .blue .icons .last-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 330px;
  height: 100%;
}

body section .blue .icons .center-column {
  width: 330px;
}

body section .blue .icons .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body section .blue .icons .icon p {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

body section .blue .icons .icon img {
  height: 68px;
}

body section .blue .describe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

body section .blue .describe .desc {
  width: 50%;
  margin: 0 12px 30px;
  font-size: 19px;
}

body section .blue .describe .desc p {
  text-align: justify;
  color: #fff;
  margin-bottom: 20px;
}

@media only screen and (max-width: 770px) {
  body section .blue .icons {
    margin-bottom: 0;
  }
  body section .blue .icons .icon {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body section .blue .icons .icon img {
    height: 40px;
    padding-right: 5px;
  }
  body section .blue .icons .icon p {
    text-align: left;
    font-size: 11px;
  }
  body section .blue .describe {
    display: none;
  }
}

@media only screen and (max-width: 770px) and (max-width: 500px) {
  body section .blue {
    position: relative;
  }
  body section .blue .icons {
    display: block;
  }
  body section .blue .icons .icon {
    top: 0;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    -webkit-transform: none;
            transform: none;
    margin: 15px 0;
  }
  body section .blue .icons .icon p {
    text-align: center;
  }
}

body section .blue #kontakty {
  position: relative;
  margin: 0 -9px;
  width: 1018px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body section .blue #kontakty .kontakt {
  float: left;
  position: relative;
  margin: 0 12px 23px;
  width: 315px;
}

body section .blue #kontakty .kontakt p {
  margin: 10px;
  padding: 5px;
}

body section .blue #kontakty i {
  display: none;
}

@media only screen and (max-width: 770px) {
  body section .blue #kontakty {
    width: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  body section .blue #kontakty i {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px;
    cursor: pointer;
    width: auto;
  }
  body section .blue #kontakty i.arrow-left {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  body section .blue #kontakty .kontakt {
    width: 180px;
    margin: 0;
  }
  body section .blue #kontakty .kontakt p {
    margin: 10px 0;
    font-size: 12px;
    text-align: center;
  }
}

@media only screen and (max-width: 770px) and (max-width: 500px) {
  body section .blue #kontakty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body section .blue #kontakty .kontakt:nth-child(3),
  body section .blue #kontakty .kontakt:nth-child(4) {
    display: none;
  }
  body section .blue #kontakty .kontakt p {
    text-align: center;
  }
  body section .blue #kontakty i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body section .blue .kontakt-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

body section .blue .kontakt-form .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body section .blue .kontakt-form .form .form-title {
  text-align: right;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-size: 16px;
}

body section .blue .kontakt-form .form input[type="text"] {
  height: 35px;
}

body section .blue .kontakt-form .form input[type="text"],
body section .blue .kontakt-form .form textarea {
  text-align: right;
  margin-bottom: 10px;
  width: 415px !important;
  padding: 10px;
}

body section .blue .kontakt-form .form textarea {
  height: 92px;
}

body section .blue .kontakt-form .form .form-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

body section .blue .kontakt-form .form .form-control .prezentacja p {
  margin: 3px 0 5px;
}

body section .blue .kontakt-form .form .form-control .prezentacja .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

body section .blue .kontakt-form .form .form-control .prezentacja .check input[type=checkbox] {
  width: 22px;
  margin-right: 4px;
}

body section .blue .kontakt-form .form .form-control .prezentacja .check label {
  font-size: 15px;
  letter-spacing: .3px;
  margin: 0 20px 0 5px;
}

body section .blue .kontakt-form .form .form-control button {
  margin-top: 5px;
  width: 120px;
}

body section .blue .kontakt-form .form .form-email {
  display: none;
}

@media only screen and (max-width: 770px) {
  body section .blue .kontakt-form {
    margin: 0 0 25px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
  body section .blue .kontakt-form .form {
    width: 180px;
    position: relative;
    margin: 0 -9px;
  }
  body section .blue .kontakt-form .form .form-title {
    font-size: 13px;
    margin-bottom: 15px;
  }
  body section .blue .kontakt-form .form p {
    float: left;
    position: relative;
    margin: 0 12px 23px;
    text-align: left !important;
    font-size: 12px;
  }
  body section .blue .kontakt-form .form input[type="text"],
  body section .blue .kontakt-form .form textarea,
  body section .blue .kontakt-form .form .form-control {
    display: none;
  }
  body section .blue .kontakt-form .form .form-email {
    display: block !important;
  }
  body section .blue .kontakt-form .social-media {
    display: none !important;
  }
  body section .blue .kontakt-form .praca {
    width: 180px;
    width: auto !important;
  }
  body section .blue .kontakt-form .praca .form-title {
    font-size: 13px !important;
    margin-bottom: 15px !important;
  }
  body section .blue .kontakt-form .praca p {
    margin: 0 !important;
    font-size: 12px;
  }
  body section .blue .kontakt-form .praca .display-none {
    display: none !important;
  }
}

body section .blue .kontakt-form .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
  margin: 0 30px 0 37px;
}

body section .blue .kontakt-form .social-media .form-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-size: 16px;
}

body section .blue .kontakt-form .social-media img {
  height: 70px;
  margin-bottom: 25px;
}

body section .blue .kontakt-form .praca {
  width: 25%;
}

body section .blue .kontakt-form .praca .form-title {
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-size: 16px;
}

body section .blue .kontakt-form .praca p {
  line-height: 19px;
  font-size: 15.5px;
  margin-bottom: 43px;
}

body section .blue .kontakt-form .praca p:last-child {
  padding-top: 40px;
}

body section .blue a {
  display: block;
  position: relative;
  top: -37px;
  left: 3px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 15.6px;
}

body section .white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #023a5c;
}

body section .white hr {
  border-bottom: dotted #023a5c;
}

body section .white .content .describe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

body section .white .content .describe .desc {
  width: 50%;
  margin: 0 0 7px;
  font-size: 20px;
}

body section .white .content .describe .desc p {
  text-align: justify;
}

body section .white .content .describe .desc:first-child {
  margin-right: 30px;
}

body section .white .content .items {
  width: 100%;
  height: 100%;
}

body section .white .content .items .circle {
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #023a5c;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 38px 48px;
}

body section .white .content .items .circle:hover {
  top: -4px;
}

body section .white .content .items .circle:first-child, body section .white .content .items .circle:nth-child(6) {
  margin-left: 0;
}

body section .white .content .items .circle p {
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
}

@media only screen and (max-width: 770px) {
  body section .white .content .describe {
    display: none;
  }
  body section .white .content .items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    gap: 5px;
  }
  body section .white .content .items .circle {
    width: 100px;
    height: 100px;
    margin: 0;
  }
  body section .white .content .items .circle p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 770px) and (max-width: 500px) {
  body section .white .content .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
  }
  body section .white .content .circle {
    background-color: #fff !important;
    height: 20px !important;
    width: 100% !important;
    margin: 10px !important;
  }
  body section .white .content .circle p {
    color: #023a5c;
  }
  body section .white .content .circle p br {
    display: none !important;
  }
}

body section .white #akt-slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

body section .white #akt-slider i {
  position: relative;
  top: -7px;
}

body section .white #akt-slider .akt-slide {
  width: 200px;
  margin: 0 12px;
}

body section .white #akt-slider .akt-slide .circle {
  position: relative;
  float: left;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4px 17px 35px;
  overflow: hidden;
  background-position: center;
}

body section .white #akt-slider .akt-slide .circle img {
  height: 193px;
  width: 193px;
}

body section .white #akt-slider .akt-slide p {
  font-size: 13px;
  color: #023a5c;
}

body section .white #akt-slider .akt-slide .title-slide {
  text-transform: uppercase;
  margin: 5px 0;
}

body section .white #akt-slider .akt-slide .hr {
  margin: 5px 0;
}

body section .white #akt-slider .akt-slide .lorem-more {
  display: none;
}

@media only screen and (max-width: 770px) {
  body section .white #akt-slider .akt-slide:nth-child(5) {
    display: none;
  }
  body section .white #akt-slider .akt-slide {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body section .white #akt-slider .akt-slide .circle {
    margin: 4px 0 20px;
  }
  body section .white #akt-slider .akt-slide p {
    width: 100px;
    font-size: 18px;
  }
  body section .white #akt-slider .akt-slide .text {
    display: none;
  }
  body section .white #akt-slider .akt-slide .title-slide {
    text-transform: uppercase;
    margin: 5px 0;
  }
  body section .white #akt-slider .akt-slide .hr {
    margin: 5px 0;
  }
}

@media only screen and (max-width: 770px) and (max-width: 500px) {
  body section .white #akt-slider .akt-slide:nth-child(2) {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body section .white #akt-slider .akt-slide:nth-child(2) .circle {
    width: 150px;
    height: 150px;
  }
  body section .white #akt-slider .akt-slide:nth-child(2) .circle img {
    width: 150px;
    height: 150px;
  }
  body section .white #akt-slider .akt-slide:nth-child(2) .hr,
  body section .white #akt-slider .akt-slide:nth-child(2) .more {
    display: none;
  }
  body section .white #akt-slider .akt-slide:nth-child(2) .lorem-more {
    display: block;
    text-align: justify;
  }
  body section .white #akt-slider .akt-slide:nth-child(3),
  body section .white #akt-slider .akt-slide:nth-child(4),
  body section .white #akt-slider .akt-slide:nth-child(5) {
    display: none;
  }
}

body section .white #akt-slider i {
  font-size: 50px;
  padding: 10px;
}

@media only screen and (max-width: 500px) {
  body section {
    position: relative;
    height: auto !important;
    right: -70px !important;
  }
}

body #section {
  height: calc(100vh + 20px) !important;
}

body #branze,
body #produkty,
body #uslugi,
body #aktualnosci,
body #kontakt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #branze,
body #uslugi,
body #kontakt {
  position: relative;
  z-index: -1;
  background-color: #023a5c;
}

body #produkty,
body #aktualnosci {
  background-color: #fff;
}

body #kontakt .container {
  width: 840px !important;
  padding-bottom: 0;
}

body #sponsors-slider {
  background-color: #fff;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #sponsors-slider .slick-list {
  width: 840px;
}

body #sponsors-slider .slick-track {
  width: 1000px;
}

body #sponsors-slider img {
  margin: 10px 20px;
  width: 100px;
  height: 70px;
}

body #sponsors-slider i {
  font-size: 50px;
}

@media only screen and (max-width: 770px) {
  body #sponsors-slider {
    margin-top: -100px;
  }
}

@media only screen and (max-width: 500px) {
  body #sponsors-slider {
    left: 100px;
    margin-top: -100px;
  }
  body #sponsors-slider .sponsor-slide:nth-child(3),
  body #sponsors-slider .sponsor-slide:nth-child(4),
  body #sponsors-slider .sponsor-slide:nth-child(5),
  body #sponsors-slider .sponsor-slide:nth-child(6) {
    display: none !important;
  }
  body #sponsors-slider i {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */