* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  position: relative;
  z-index: -10;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  background-color: #023a5c;
}
@media only screen and (max-width: 770px) {
  body {
    width: 770px;
  }
}
@media only screen and (max-width: 770px) and (max-width: 500px) {
  body {
    width: 500px;
  }
}
@media only screen and (max-width: 770px) and (max-width: 400px) {
  body {
    width: 400px;
  }
}
@media only screen and (max-width: 770px) and (max-width: 320px) {
  body {
    width: 320px;
  }
}
body section {
  width: 100%;
}
body section header {
  width: 100%;
  position: relative;
  height: 10%;
  background-color: #023a5c;
  padding-right: 40px;
  display: flex;
  z-index: 2;
}
body section header .div {
  width: 25%;
}
body section header .center {
  display: flex;
}
body section header .center .logo {
  z-index: 0;
}
body section header .center .logo .img {
  height: 200%;
}
body section header .center .navigation {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: start;
}
body section header .center .navigation ul {
  display: flex;
}
body section header .center .navigation ul .link {
  list-style: none;
  margin: 15px;
}
body section header .center .navigation ul .link a {
  text-decoration: none;
  color: #fff !important;
  font-size: 24px;
}
body section header .search-bar {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: end;
  color: #fff;
}
body section header .search-bar input {
  height: 30px;
  width: 70%;
  display: none;
}
@media only screen and (max-width: 1650px) {
  body section header .div {
    display: none;
  }
  body section header .center .logo .img {
    width: 250px;
  }
}
@media only screen and (max-width: 1650px) and (max-width: 1200px) {
  body section header .search-bar {
    display: none;
  }
}
@media only screen and (max-width: 1650px) and (max-width: 1200px) and (max-width: 770px) {
  body section header .center .logo .img {
    width: 170px;
  }
  body section header .navigation ul .link {
    margin: 8px !important;
  }
  body section header .navigation ul .link a {
    font-size: 15px !important;
  }
}
@media only screen and (max-width: 1650px) and (max-width: 1200px) and (max-width: 770px) and (max-width: 500px) {
  body section header {
    justify-content: center;
  }
  body section header .center .img {
    height: 200%;
  }
  body section header .navigation {
    display: none !important;
  }
}
body section main {
  display: flex;
  position: relative;
  width: 100%;
  height: 90%;
  padding-left: 10px;
  z-index: 0;
}
body section main #menu {
  height: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  background-color: #fff;
  z-index: 2;
  padding: 270px 0 20px 0;
}
body section main #menu .menu-list {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  width: 80%;
  padding-left: 45px;
  height: 100vh;
}
body section main #menu .menu-list .menu {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 23px;
  margin-bottom: 20px;
  border-bottom: 3px dotted #023a5c;
}
body section main #menu .menu-list .menu li {
  margin-bottom: 15px;
  list-style: none;
}
body section main #menu .menu-list .menu li a {
  color: #023a5c;
  text-decoration: none !important;
}
body section main #menu .menu-list i {
  color: #023a5c;
  margin-bottom: 10px;
}
@media only screen and (max-width: 770px) {
  body section main #menu {
    width: auto;
  }
  body section main #menu .menu-list {
    width: auto;
    padding-left: 30px !important;
  }
}
@media only screen and (max-width: 770px) and (max-width: 500px) {
  body section main #menu {
    width: auto;
  }
  body section main #menu .menu-list {
    width: auto !important;
    padding-left: 10px !important;
  }
  body section main #menu .menu-list .menu {
    font-size: 10px !important;
  }
}
body section main #menu .hidden-menu {
  display: flex;
  position: relative;
  align-items: center;
  z-index: -1;
  padding: 0 30px 0 10px;
  background-color: #fff;
  height: 100vh;
}
body section main #menu .hidden-menu i {
  position: absolute;
  right: 10px;
  color: grey;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}
@media only screen and (max-width: 770px) {
  body section main #menu {
    padding-top: 170px;
  }
}
body section main #slider {
  width: 100vw;
  height: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: right;
  right: 0;
  z-index: -5;
}
body section main #slider .slider {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  transition: right 2s;
}
body section main #slider .text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
body section main #slider .text h1 {
  font-size: 35px;
}
body section main #slider .text p {
  text-align: right;
}
body section main #slider .text p a {
  text-decoration: none;
  color: #fff;
}
body section main #slider form {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
body section main #slider form #control-slider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}
body section main #slider form #control-slider .control-slider {
  height: 20px;
  width: 40px;
  margin: 3px;
  margin-bottom: 5px;
}
body section main #slider form #control-slider .control-slider:last-child {
  margin-right: 0;
}
body section main #slider form .newsletter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
body section main #slider form .newsletter .control {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  height: 50px;
  width: 85%;
}
body section main #slider form .newsletter .control * {
  margin: 5px;
}
body section main #slider form .newsletter .control img {
  height: 46px;
  width: 54px;
}
body section main #slider form .newsletter .control label {
  background-color: #fff;
}
body section main #slider form .newsletter .control input {
  width: 40%;
  height: 30px;
  font-size: 15px;
}
body section main #slider form .newsletter .button {
  padding: 5px;
  height: 50px;
  width: 15%;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 500px) {
  body section main {
    width: 115%;
  }
  body section main #slider {
    width: 100%;
    right: 30px;
  }
}
body section .container {
  width: 1000px;
  padding: 60px 0 150px 0;
}
@media only screen and (max-width: 770px) {
  body section .container {
    width: 500px;
  }
}
body section .container .title {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 45px;
}
body section .container .title img {
  margin-right: 15px;
}
body section .container .title h1 {
  text-transform: uppercase;
}
body section .container hr {
  border-width: 0 0 2px 0;
  margin-bottom: 45px;
}
body section .blue {
  color: #fff;
}
body section .blue hr {
  border-bottom: dotted #fff;
}
body section .blue .branze-list {
  position: relative;
  overflow: hidden;
  margin: 0 -9px;
  width: 1018px;
  display: flex;
  flex-wrap: wrap;
}
body section .blue .branze-list .branch {
  float: left;
  position: relative;
  overflow: hidden;
  margin: 0 12px 23px;
  width: 315px;
  height: 150px;
  background: #fff;
}
body section .blue .branze-list .branch img {
  width: 315px;
  height: 150px;
  overflow: clip;
}
body section .blue .branze-list .branch .dark-bgc {
  position: absolute;
  display: block;
  background: rgba(0, 0, 0, 0.7);
  width: 110%;
  height: 110%;
  top: -2px;
  left: -2px;
}
body section .blue .branze-list .branch .dark-bgc:hover {
  background: rgba(0, 0, 0, 0);
}
body section .blue .branze-list .branch .dark-bgc:hover h3.last-row {
  color: #023a5c;
}
body section .blue .branze-list .branch .dark-bgc h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
body section .blue .branze-list .desc {
  position: relative;
  margin: 0 12px 23px;
  width: 315px;
  font-size: 16px;
  color: #fff;
}
body section .blue .branze-list .desc p {
  text-align: justify;
  padding-bottom: 45px;
}
@media only screen and (max-width: 770px) {
  body section .blue .branze-list {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    width: auto;
    gap: 3px;
  }
  body section .blue .branze-list .branch {
    width: 160px;
    height: 90px;
    margin: 0;
  }
  body section .blue .branze-list .branch img {
    width: 160px;
    height: 90px;
  }
  body section .blue .branze-list .branch .dark-bgc h3 {
    font-size: 15px;
  }
  body section .blue .branze-list .desc {
    display: none;
  }
}
@media only screen and (max-width: 770px) and (max-width: 500px) {
  body section .blue .branze-list {
    justify-items: center;
    grid-template-columns: repeat(3, 130px);
  }
  body section .blue .branze-list .branch {
    width: 100px;
    height: 150px;
  }
  body section .blue .branze-list .branch img {
    width: 100px;
    height: 150px;
  }
}
body section .blue .icons {
  position: relative;
  height: 35%;
  margin-bottom: 100px;
}
body section .blue .icons .icon {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body section .blue .icons .icon p {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
body section .blue .icons .icon img {
  height: 68px;
}
body section .blue .icons .wdrozenia {
  top: 0;
  left: 0;
}
body section .blue .icons .konsulting {
  top: 0;
  right: 0;
}
body section .blue .icons .szkolenia {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body section .blue .icons .doradztwo {
  bottom: 0;
  left: 0;
}
body section .blue .icons .dofinansowanie {
  bottom: 0;
  right: 0;
}
body section .blue .describe {
  display: flex;
  margin-bottom: 100px;
}
body section .blue .describe .desc {
  width: 50%;
  margin: 0 12px 23px;
  font-size: 20px;
}
body section .blue .describe .desc p {
  text-align: justify;
  color: #fff;
  margin-bottom: 20px;
}
@media only screen and (max-width: 770px) {
  body section .blue .icons {
    margin-bottom: 0;
  }
  body section .blue .icons .icon {
    flex-direction: row;
  }
  body section .blue .icons .icon img {
    height: 40px;
    padding-right: 5px;
  }
  body section .blue .icons .icon p {
    text-align: left;
    font-size: 11px;
  }
  body section .blue .describe {
    display: none;
  }
}
@media only screen and (max-width: 770px) and (max-width: 500px) {
  body section .blue {
    position: relative;
  }
  body section .blue .icons {
    display: block;
  }
  body section .blue .icons .icon {
    top: 0;
    left: 0;
    flex-direction: column;
    position: relative;
    transform: none;
    margin: 15px 0;
  }
  body section .blue .icons .icon p {
    text-align: center;
  }
}
body section .blue .kontakty {
  position: relative;
  margin: 0 -9px;
  width: 1018px;
  display: flex;
  flex-wrap: wrap;
}
body section .blue .kontakty .kontakt {
  float: left;
  position: relative;
  margin: 0 12px 23px;
  width: 315px;
}
body section .blue .kontakty .kontakt p {
  margin: 10px;
  padding: 5px;
}
body section .blue .kontakty i {
  display: none;
}
@media only screen and (max-width: 770px) {
  body section .blue .kontakty {
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  body section .blue .kontakty .kontakt {
    width: 180px;
    margin: 0;
  }
  body section .blue .kontakty .kontakt p {
    margin: 10px 0;
    font-size: 12px;
  }
}
@media only screen and (max-width: 770px) and (max-width: 500px) {
  body section .blue .kontakty {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body section .blue .kontakty .kontakt:nth-child(3),
  body section .blue .kontakty .kontakt:nth-child(4) {
    display: none;
  }
  body section .blue .kontakty .kontakt p {
    text-align: center;
  }
  body section .blue .kontakty i {
    display: block;
  }
}
body section .blue .kontakt-form {
  display: flex;
  margin: 50px;
}
body section .blue .kontakt-form .form {
  display: flex;
  flex-direction: column;
  width: 45%;
}
body section .blue .kontakt-form .form .form-title {
  text-align: right;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-size: 16px;
}
body section .blue .kontakt-form .form input[type=text] {
  height: 35px;
}
body section .blue .kontakt-form .form input[type=text],
body section .blue .kontakt-form .form textarea {
  text-align: right;
  margin-bottom: 12px;
  width: 100%;
}
body section .blue .kontakt-form .form .form-control {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 30px;
}
body section .blue .kontakt-form .form .form-control .prezentacja p {
  margin-bottom: 5px;
}
body section .blue .kontakt-form .form .form-control .prezentacja .check {
  display: flex;
}
body section .blue .kontakt-form .form .form-control .prezentacja .check label {
  margin: 0 20px 0 5px;
}
body section .blue .kontakt-form .form .form-control button {
  width: 30%;
}
body section .blue .kontakt-form .form .form-email {
  display: none;
}
@media only screen and (max-width: 770px) {
  body section .blue .kontakt-form {
    margin: 0 0 25px;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  body section .blue .kontakt-form .form {
    width: 180px;
    position: relative;
    margin: 0 -9px;
  }
  body section .blue .kontakt-form .form .form-title {
    font-size: 13px;
    margin-bottom: 15px;
  }
  body section .blue .kontakt-form .form p {
    float: left;
    position: relative;
    margin: 0 12px 23px;
    text-align: left !important;
    font-size: 12px;
  }
  body section .blue .kontakt-form .form input[type=text],
  body section .blue .kontakt-form .form textarea,
  body section .blue .kontakt-form .form .form-control {
    display: none;
  }
  body section .blue .kontakt-form .form .form-email {
    display: block !important;
  }
  body section .blue .kontakt-form .social-media {
    display: none !important;
  }
  body section .blue .kontakt-form .praca {
    width: 180px;
    width: auto !important;
  }
  body section .blue .kontakt-form .praca .form-title {
    font-size: 13px !important;
    margin-bottom: 15px !important;
  }
  body section .blue .kontakt-form .praca p {
    margin: 0 !important;
    font-size: 12px;
  }
  body section .blue .kontakt-form .praca .display-none {
    display: none !important;
  }
}
body section .blue .kontakt-form .social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  margin: 0 20px 20px 20px;
}
body section .blue .kontakt-form .social-media .form-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-size: 16px;
}
body section .blue .kontakt-form .social-media img {
  height: 90%;
}
body section .blue .kontakt-form .praca {
  width: 25%;
}
body section .blue .kontakt-form .praca .form-title {
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-size: 16px;
}
body section .blue .kontakt-form .praca p {
  margin-bottom: 90px;
}
body section .blue a {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
body section .white {
  display: flex;
  flex-direction: column;
  color: #023a5c;
}
body section .white hr {
  border-bottom: dotted #023a5c;
}
body section .white .content .describe {
  display: flex;
  margin-bottom: 100px;
}
body section .white .content .describe .desc {
  width: 50%;
  margin: 0 12px 23px;
  font-size: 18.9px;
}
body section .white .content .describe .desc p {
  text-align: justify;
}
body section .white .content .items {
  width: 100%;
  height: 100%;
}
body section .white .content .items .circle {
  position: relative;
  float: left;
  width: 165px;
  height: 165px;
  border-radius: 50%;
  background-color: #023a5c;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px 17px 35px;
}
body section .white .content .items .circle:hover {
  top: -4px;
}
body section .white .content .items .circle p {
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
}
body section .white .content .items .circle p:last-child::first-letter {
  text-transform: lowercase;
}
@media only screen and (max-width: 770px) {
  body section .white .content .describe {
    display: none;
  }
  body section .white .content .items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
  }
  body section .white .content .items .circle {
    width: 100px;
    height: 100px;
    margin: 0;
  }
  body section .white .content .items .circle p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 770px) and (max-width: 500px) {
  body section .white .content .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  body section .white .content .circle {
    background-color: #fff !important;
    height: 20px !important;
    width: 100% !important;
    margin: 10px !important;
  }
  body section .white .content .circle p {
    color: #023a5c;
  }
  body section .white .content .circle p br {
    display: none !important;
  }
}
body section .white .akt-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
body section .white .akt-slider .akt-slide {
  width: 25%;
  padding: 10px;
}
body section .white .akt-slider .akt-slide .circle {
  position: relative;
  float: left;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px 17px 35px;
  overflow: hidden;
  background-position: center;
}
body section .white .akt-slider .akt-slide .circle img {
  height: 165px;
  width: 165px;
}
body section .white .akt-slider .akt-slide p {
  color: #023a5c;
}
body section .white .akt-slider .akt-slide .title-slide {
  text-transform: uppercase;
  margin: 5px 0;
}
body section .white .akt-slider .akt-slide .hr {
  margin: 5px 0;
}
body section .white .akt-slider .akt-slide .lorem-more {
  display: none;
}
@media only screen and (max-width: 770px) {
  body section .white .akt-slider .akt-slide:nth-child(5) {
    display: none;
  }
  body section .white .akt-slider .akt-slide .circle {
    margin: 4px 0 20px;
  }
  body section .white .akt-slider .akt-slide .circle img {
    height: 100px;
    width: 100px;
  }
  body section .white .akt-slider .akt-slide .text {
    display: none;
  }
  body section .white .akt-slider .akt-slide .title-slide {
    text-transform: uppercase;
    margin: 5px 0;
  }
  body section .white .akt-slider .akt-slide .hr {
    margin: 5px 0;
  }
}
@media only screen and (max-width: 770px) and (max-width: 500px) {
  body section .white .akt-slider .akt-slide:nth-child(2) {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body section .white .akt-slider .akt-slide:nth-child(2) .circle {
    width: 150px;
    height: 150px;
  }
  body section .white .akt-slider .akt-slide:nth-child(2) .circle img {
    width: 150px;
    height: 150px;
  }
  body section .white .akt-slider .akt-slide:nth-child(2) .hr, body section .white .akt-slider .akt-slide:nth-child(2) .more {
    display: none;
  }
  body section .white .akt-slider .akt-slide:nth-child(2) .lorem-more {
    display: block;
    text-align: justify;
  }
  body section .white .akt-slider .akt-slide:nth-child(3),
  body section .white .akt-slider .akt-slide:nth-child(4),
  body section .white .akt-slider .akt-slide:nth-child(5) {
    display: none;
  }
}
body section .white .akt-slider i {
  font-size: 50px;
  padding: 10px;
}
@media only screen and (max-width: 500px) {
  body section {
    position: relative;
    height: auto !important;
    right: -70px !important;
  }
}
body #section {
  height: 100vh !important;
}
body #branze,
body #produkty,
body #uslugi,
body #aktualnosci,
body #kontakt {
  display: flex;
  justify-content: center;
}
body #branze,
body #uslugi,
body #kontakt {
  position: relative;
  z-index: -1;
  background-color: #023a5c;
}
body #produkty,
body #aktualnosci {
  background-color: #fff;
}
body #kontakt {
  height: 100vh;
}
body .sponsors-slider {
  background-color: #fff;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
}
body .sponsors-slider img {
  margin: 40px;
  width: 100px;
  height: 70px;
}
body .sponsors-slider i {
  display: none;
  font-size: 50px;
}
@media only screen and (max-width: 770px) {
  body .sponsors-slider {
    margin-top: -100px;
  }
}
@media only screen and (max-width: 500px) {
  body .sponsors-slider {
    left: 100px;
    margin-top: -100px;
  }
  body .sponsors-slider .sponsor-slide:nth-child(3),
  body .sponsors-slider .sponsor-slide:nth-child(4),
  body .sponsors-slider .sponsor-slide:nth-child(5),
  body .sponsors-slider .sponsor-slide:nth-child(6) {
    display: none !important;
  }
  body .sponsors-slider i {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */